## Ignore Visual Studio temporary files, build results and other files

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

v15/
[Pp]roperties/
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

*.config
*.xml
*.iml
Task1/
Task2/
*.p7s
*.nupkg
*.ps1
*.md
*.png

.vscode
Library
Temp
*.csproj
*.sln
*.userprefs
obj
*.apk
.idea

Assets/Plugins/Editor/JetBrains/

Assets/Plugins/Editor\.meta
JetBrains.meta